<h1>Listing dashboard_articles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_articles.each do |dashboard_article| %>
      <tr>
        <td><%= dashboard_article.title %></td>
        <td><%= dashboard_article.body %></td>
        <td><%= link_to 'Show', dashboard_article_path(dashboard_article) %></td>
        <td><%= link_to 'Edit', edit_dashboard_article_path(dashboard_article) %></td>
        <td><%= link_to 'Destroy', dashboard_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_dashboard_article_path %>
